@charset "UTF-8";

.Transversal{
  text-align: center;
  
}
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-style: normal;
  speak-as: none;
  font-weight: normal;
  vertical-align: top;
}

.icon-menu:before {
  content: "🍔";
}

body {
  font-family: "Quattrocento Sans", Helmet, Freesans, Tahoma, Geneva, sans-serif;
}

a {
  -moz-transition: color 800ms ease-in-out, background 800ms ease-in-out;
  -o-transition: color 800ms ease-in-out, background 800ms ease-in-out;
  -webkit-transition: color 800ms ease-in-out, background 800ms ease-in-out;
  transition: color 800ms ease-in-out, background 800ms ease-in-out;
}

.nav {
  padding: 2em 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
}
.nav .menu-toggle {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0.5em 0;
  background-color: #ddc;
  text-decoration: none;
  text-align: center;
  font-size: 1.4em;
  color: #333;
}
.nav .menu-toggle:hover, .nav .menu-toggle:focus {
  color: #eee;
  background-color: #000000;
}
.nav .menu-toggle-text {
  font-size: 0.55em;
  display: block;
}
.no-js .nav .menu-toggle {
  display: none;
}
.nav .expanded-menu-toggle {
  color: #eeeeaa;
  background-color: #181717;
}
.no-fontface .nav .icon-menu:before {
  display: none;
}

/* .menu is visually hidden by default */
.menu {
  position: relative;
  z-index: 1;
  background-color: #000000;
  border: 0;
  margin: -1px auto;
  overflow: hidden;
  padding: 0;
  max-height: 1px;
  min-height: 0;
  clip: rect(0 0 0 0);
  -moz-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
  -moz-transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;
  -o-transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;
  -webkit-transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;
  transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;
  /* end .menu li */
}

.menu li a {
  display: block;
  padding: 10px 0;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: #eee;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.menu li a:hover, .menu li a:focus {
  color: #eeeeaa;
  background: #000000;
}
.menu li ul.sub-menu,
.menu li ul.children {
  display: none;
}

/* end .menu */
.no-js .menu,
.expanded-mobile-menu {
  -moz-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  -o-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  -webkit-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  /*min/max heights allow me to css transition to height auto for WordPress menus with unknown number of items*/
  clip: auto;
  min-height: 8em;
  max-height: 100em;
  padding: 0.5em 0;
}

@media only screen and (min-width: 30.1em) {
  /*481 ish px*/
  .menu li {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 48em) {
  .nav .menu-toggle {
    display: none;
  }

  .menu,
  .no-js .menu,
  .expanded-mobile-menu {
    /* no longer hidden by default! */
    margin: 0;
    min-height: 0;
    max-height: 999em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: visible;
    padding: 0.7em 0;
    background: #000000;
    -moz-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
    /* end .menu ul li */
  }
  .menu li,
  .no-js .menu li,
  .expanded-mobile-menu li {
    float: none;
    width: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    /* DROP DOWNS */
    /* showing sub-menus */
  }
  .lt-ie8 .menu li, .lt-ie8
  .no-js .menu li, .lt-ie8
  .expanded-mobile-menu li {
    /* inline-block fix for old ie (relevant if they're served larger media queries in an IE stylesheet or something similar...*/
    display: inline;
    zoom: 1;
  }
  .menu li a,
  .no-js .menu li a,
  .expanded-mobile-menu li a {
    padding: 0.3em 1em;
    color: #eee;
  }
  .menu li a:hover, .menu li a:focus,
  .no-js .menu li a:hover,
  .no-js .menu li a:focus,
  .expanded-mobile-menu li a:hover,
  .expanded-mobile-menu li a:focus {
    color: #ffffff;
    background: #000000;
  }
  .menu li ul.sub-menu,
  .menu li ul.children,
  .no-js .menu li ul.sub-menu,
  .no-js .menu li ul.children,
  .expanded-mobile-menu li ul.sub-menu,
  .expanded-mobile-menu li ul.children {
    display: block;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    white-space: nowrap;
    -moz-transition: max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    -o-transition: max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    -webkit-transition: max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    transition: max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    background: #e7e2e2;
    text-align: left;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 4px;
    /* visually hidden */
    opacity: 0;
    border: 0;
    margin: -1px 0;
    overflow: hidden;
    padding: 0;
    max-height: 1px;
    min-height: 0;
  }
  .menu li ul.sub-menu li,
  .menu li ul.children li,
  .no-js .menu li ul.sub-menu li,
  .no-js .menu li ul.children li,
  .expanded-mobile-menu li ul.sub-menu li,
  .expanded-mobile-menu li ul.children li {
    display: block;
    padding: 0.2em 0.4em 0;
    /* could go deeper here... */
  }
  .menu li ul.sub-menu li a,
  .menu li ul.children li a,
  .no-js .menu li ul.sub-menu li a,
  .no-js .menu li ul.children li a,
  .expanded-mobile-menu li ul.sub-menu li a,
  .expanded-mobile-menu li ul.children li a {
    font-size: 1em;
    padding: 0.2em 0.5em 0.2em 0.8em;
    display: block;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    background: transparent;
  }
  .menu li ul.sub-menu li a:hover, .menu li ul.sub-menu li a:focus,
  .menu li ul.children li a:hover,
  .menu li ul.children li a:focus,
  .no-js .menu li ul.sub-menu li a:hover,
  .no-js .menu li ul.sub-menu li a:focus,
  .no-js .menu li ul.children li a:hover,
  .no-js .menu li ul.children li a:focus,
  .expanded-mobile-menu li ul.sub-menu li a:hover,
  .expanded-mobile-menu li ul.sub-menu li a:focus,
  .expanded-mobile-menu li ul.children li a:hover,
  .expanded-mobile-menu li ul.children li a:focus {
    background: #e2dfdf;
  }
  .menu li ul.sub-menu li:last-child a,
  .menu li ul.children li:last-child a,
  .no-js .menu li ul.sub-menu li:last-child a,
  .no-js .menu li ul.children li:last-child a,
  .expanded-mobile-menu li ul.sub-menu li:last-child a,
  .expanded-mobile-menu li ul.children li:last-child a {
    border-bottom: 0;
  }
  .menu li:hover ul, .menu li.focused ul,
  .no-js .menu li:hover ul,
  .no-js .menu li.focused ul,
  .expanded-mobile-menu li:hover ul,
  .expanded-mobile-menu li.focused ul {
    -moz-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    -o-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    -webkit-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    /* again using min/max heights to deal with unknown length of lists */
    min-height: 8em;
    max-height: 100em;
    padding: 0.4em 0;
    opacity: 1;
  }
  .menu li:hover ul ul, .menu li.focused ul ul,
  .no-js .menu li:hover ul ul,
  .no-js .menu li.focused ul ul,
  .expanded-mobile-menu li:hover ul ul,
  .expanded-mobile-menu li.focused ul ul {
    min-height: 0;
    padding: 0;
  }
  .menu li:hover > a,
  .no-js .menu li:hover > a,
  .expanded-mobile-menu li:hover > a {
    background: #267b8a;
  }
}

.imagen1{
  margin-left: 10px;
  margin-top: 10px;
}

.imagen2{
  margin-left: 10px;
  margin-top: 29px;
}

.mono{ 
  justify-content: center;
  text-align: center;
}

.logo{
  justify-content: center;
}
.img{
  justify-content: center;
}
.nombre{
  color: white;
}

html{
  background: radial-gradient(ellipse at bottom, #8018d4, #1961cc);
  box-sizing: border-box;
  font-size: 78%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-size: 1.5rem;
  font-family: 'New Tegomin', serif;
  line-height: 1.5;
}
h1, h3{
  font-size: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
h2{
  font-size: 1.7rem;
  
}
img{
  max-width: 100%;
}

.grid{
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 2rem;
  
}

.caja1{
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  background-color: white;
}

.caja2{
  grid-column: 4 / 8;
  grid-row: 1 / 4;
  border: 3px solid black;
  background-color: #3e9eaf;
  color: white;
  text-align: left;
}

.caja3{
  grid-column: 1 / 5;
  grid-row: 4 / 7;
  border: 3px solid black;
  background-color: rgb(228, 157, 228);
  text-align: center;

}

.caja4{
  grid-column: 5 / 8;
  grid-row: 4 / 7;
  background-color: white;
}

.caja5{
  grid-column: 1 / 4;
  grid-row: 7 / 10;
  background-color: white;
}

.caja6{
  grid-column: 4 / 8;
  grid-row: 7 / 10;
  border: 3px solid black;
  background-color: #8ace53;
  color: white;
}


main footer {
    position: relative;
    display: block;
    height: auto;
    margin-top: 3%;
    padding: 20px 20px 20px;
    background-color: #000000;
  }
  main footer::after {
    clear: both;
    content: "";
    display: block;
  }
  main footer .logo {
    font-size: 28px;
    color: whitesmoke;
    line-height: 0;
    margin-bottom: 8px;
    margin-right: 4px;
  }
  @media screen and (min-width: 1024px) {
    main footer .logo {
      float: left;
      margin-bottom: 0;
    }
  }
  main footer ul {
    line-height: 1.5;
    margin: 0 0 16px 0;
    padding: 0;
  }
  main footer ul::after {
    clear: both;
    content: "";
    display: block;
  }
  @media screen and (min-width: 1024px) {
    main footer ul {
      float: left;
      line-height: 1.8;
      margin-bottom: 0;
      margin-left: 16px;
    }
    main footer ul::after {
      clear: both;
      content: "";
      display: block;
    }
  }
  main footer ul li {
    list-style: none;
    padding-right: 16px;
  }
  @media screen and (min-width: 1024px) {
    main footer ul li {
      display: inline;
      text-align: left;
    }
  }
  main footer ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  main footer ul li a:focus, main footer ul li a:hover {
    color: white;
  }
  @media screen and (min-width: 1024px) {
    main footer .secondary-links {
      float: right;
    }
  }
  main footer .secondary-links li a {
    font-size: 12px;
    font-weight: 100 !important;
  }
  main footer .secondary-links .social {
    margin: 1em 0 0 0;
  }
  @media screen and (min-width: 1024px) {
    main footer .secondary-links .social {
      float: right;
      margin-top: 0;
    }
  }
  main footer .secondary-links .social li {
    float: left;
    font-size: 1em;
    line-height: 0;
    margin: 0;
    padding-right: 0.7em;
  }
  main footer .secondary-links .social li:last-child {
    padding-right: 0;
  }
  main footer .secondary-links .social li > a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    color: #444;
    text-align: center;
    line-height: 30px;
  }
  main footer .secondary-links .social li > a:hover {
    background-color: white;
  }